In [1]:
import json
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [2]:
target_cols = ['cplfw_rank', 'market1501_rank', 'dukemtmc_rank', 'msmt17_rank', 'veri_rank', 'vehicleid_rank', 'veriwild_rank', 'sop_rank']

In [3]:
with open('./data/CVPR_2022_NAS_Track2_test.json', 'r') as f:
    test_data = json.load(f)

In [4]:
def get_df(train_data):
    ret = []
    for k, v in train_data.items():
        tmp = list(v['arch'])
        tmp1 = []
        for c in target_cols:
            tmp1.append(v[c])
        ret.append(tmp+tmp1+[k])
    retf = pd.DataFrame(ret,columns=[f'col{_}' for _ in range(len(tmp))]+target_cols+['id'])
    retf['col0'] = retf['col0'].map({'l':1, 'j':2, 'k':3})
    int_cols = [x for x in retf.columns if x not in ['id']]
    retf[int_cols] = retf[int_cols].astype(float)
    return retf

In [5]:
# 0：
# 0.79282	0.32	0.87896	0.89657	0.96108	0.89295	0.66939	0.92099	0.8026

# 1
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.7917	0.30304	0.88216	0.89852	0.96327	0.89229	0.66823	0.91991	0.80477

# 2
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.79251	0.30632	0.88203	0.89841	0.96363	0.89552	0.66735	0.92054	0.80633
# 0.79351	0.30797	0.88162	0.89854	0.96421	0.89542	0.67249	0.92281	0.80505
# 0.7917	0.30304	0.88216	0.89852	0.96327	0.89229	0.66823	0.91991	0.80477

# 3
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.79251	0.30632	0.88203	0.89841	0.96363	0.89552	0.66735	0.92054	0.80633
# 0.79351	0.30797	0.88162	0.89854	0.96421	0.89542	0.67249	0.92281	0.80505

# 4
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79253	0.29919	0.8823	0.89703	0.96335	0.89861	0.6753	0.92263	0.80182

# 5
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79351	0.30797	0.88162	0.89854	0.96421	0.89542	0.67249	0.92281	0.80505
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.79253	0.29919	0.8823	0.89703	0.96335	0.89861	0.6753	0.92263	0.80182

# 6
# 0.79351	0.30797	0.88162	0.89854	0.96421	0.89542	0.67249	0.92281	0.80505
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456
# 0.79253	0.29919	0.8823	0.89703	0.96335	0.89861	0.6753	0.92263	0.80182

# 7
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79251	0.30632	0.88203	0.89841	0.96363	0.89552	0.66735	0.92054	0.80633

In [6]:
fin_model = sorted(list(set([0.79282,0.79395,0.79455,0.79353,0.79414,0.7917,
0.79395,0.79251,0.79351,0.7917,0.79253])))

In [7]:
len(fin_model)

9

In [8]:
fin_model

[0.7917,
 0.79251,
 0.79253,
 0.79282,
 0.79351,
 0.79353,
 0.79395,
 0.79414,
 0.79455]

In [9]:
# # 48. transformer decoder encoder 792 bc385 hardtanh, transformer_encoder_decoder_hardtanh_20220509.json
# #     of 0.77898, [0.25519, 0.86675, 0.89358, 0.952, 0.89236, 0.66723, 0.91265, 0.79208]
# #     ol 0.79282	0.32	0.87896	0.89657	0.96108	0.89295	0.66939	0.92099	0.8026
# with open('./sub/transformer_encoder_decoder_hardtanh_20220509.json', 'r') as f:
#     test_data_79282 = json.load(f)
# test_data_79282 = get_df(test_data_79282)
    
# # 49. lstm encoder decoder bc400, LSTM_2layer_hardtanh_20220509_20220505.json
# #     of 0.7803,[0.26618, 0.86804, 0.89471, 0.95782, 0.89059, 0.66764, 0.90909, 0.78836]
# #     ol 0.7937	0.30956	0.88207	0.89633	0.96423	0.8975	0.67141	0.92262	0.8059
# with open('./sub/LSTM_2layer_hardtanh_20220509_20220505.json', 'r') as f:
#     test_data_7937 = json.load(f)
# test_data_7937 = get_df(test_data_7937)

# # 50. cnn1d tanh lr0.01 cnn1d_bc400_input3_20220509_tanh.json
# #     of 0.78015 [0.2657, 0.86739, 0.89228, 0.95717, 0.8922, 0.66626, 0.91289, 0.78731] 
# #     ol 0.79201	0.30198	0.88187	0.89631	0.96334	0.89521	0.67246	0.92327	0.80162
# with open('./sub/cnn1d_bc400_input3_20220509_tanh.json', 'r') as f:
#     test_data_79201 = json.load(f)
# test_data_79201 = get_df(test_data_79201)

# #     ol 0.79187 0.30786 0.88208 0.89793 0.96364 0.89368 0.66343 0.92027 0.80608 
# with open('./sub/sub_0.7899.json', 'r') as f:
#     test_data_79187 = json.load(f)
# test_data_79187 = get_df(test_data_79187)

In [9]:
# lgb 
# 0.7917	0.30304	0.88216	0.89852	0.96327	0.89229	0.66823	0.91991	0.80477
with open('./sub/sub_0.7922727272727274.json', 'r') as f:
    test_data_7917 = json.load(f)
test_data_7917 = get_df(test_data_7917)

# pp super lr
# 0.79251	0.30632	0.88203	0.89841	0.96363	0.89552	0.66735	0.92054	0.80633
with open('./sub/paddle_super_linear_mse.json', 'r') as f:
    test_data_79251 = json.load(f)
test_data_79251 = get_df(test_data_79251)

# nn lstm2y 最终加权，bc400,001lr
# 0.79253	0.29919	0.8823	0.89703	0.96335	0.89861	0.6753	0.92263	0.80182
with open('./sub/lstm2y_加权_bc400_shuffle_lr001_tanh1_ohe_20220516.json', 'r') as f:
    test_data_79253 = json.load(f)
test_data_79253 = get_df(test_data_79253)

# nn transformer decoder encoder
# 0.79282	0.32	0.87896	0.89657	0.96108	0.89295	0.66939	0.92099	0.8026
with open('./sub/transformer_encoder_decoder_hardtanh_20220509.json', 'r') as f:
    test_data_79282 = json.load(f)
test_data_79282 = get_df(test_data_79282)

# nn lstm2y稠密_bc400_lr001_20220512.json
# 0.79351	0.30797	0.88162	0.89854	0.96421	0.89542	0.67249	0.92281	0.80505
with open('./sub/lstm2y稠密_bc400_lr001_20220512.json', 'r') as f:
    test_data_79351 = json.load(f)
test_data_79351 = get_df(test_data_79351)

# nn 7937 target 8 best tanh
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
with open('./sub/lstm2y稠密_bc400_lr001_tanh_20220514.json', 'r') as f:
    test_data_79353 = json.load(f)
test_data_79353 = get_df(test_data_79353)

#nn 79066 8target 同步建模，取sig best
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579	已完成	2022/5/14 16:45
with open('./sub/lstm2y稠密_bc400_lr001_pair_8target_sig_20220514.json', 'r') as f:
    test_data_79395 = json.load(f)
test_data_79395 = get_df(test_data_79395)

# nn 79395 取tanh1
# 0.79414	0.31042	0.88253	0.89818	0.96561	0.89796	0.67172	0.92211	0.80456	已完成	2022/5/14 19:51
with open('./sub/lstm2y稠密_bc400_lr001_tanh_mat_20220514.json', 'r') as f:
    test_data_79414 = json.load(f)
test_data_79414 = get_df(test_data_79414)

# nn 79414 ohe step 37*93, lstm2y稠密_bc400_lr001_tanh1_ohe_20220515
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555	已完成	2022/5/15 16:49
with open('./sub/lstm2y稠密_bc400_lr001_tanh1_ohe_20220515.json', 'r') as f:
    test_data_79455 = json.load(f)
test_data_79455 = get_df(test_data_79455)

In [10]:
fin_model

[0.7917,
 0.79251,
 0.79253,
 0.79282,
 0.79351,
 0.79353,
 0.79395,
 0.79414,
 0.79455]

In [11]:
out = pd.merge(test_data_7917[['id']+target_cols].rename(columns={x:x+'_7917' for x in target_cols}),
               test_data_79251[['id']+target_cols].rename(columns={x:x+'_79251' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79253[['id']+target_cols].rename(columns={x:x+'_79253' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79282[['id']+target_cols].rename(columns={x:x+'_79282' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79351[['id']+target_cols].rename(columns={x:x+'_79351' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79353[['id']+target_cols].rename(columns={x:x+'_79353' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79395[['id']+target_cols].rename(columns={x:x+'_79395' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79414[['id']+target_cols].rename(columns={x:x+'_79414' for x in target_cols}),
               on='id')
out = pd.merge(out,
               test_data_79455[['id']+target_cols].rename(columns={x:x+'_79455' for x in target_cols}),
               on='id')

In [12]:
target_cols

['cplfw_rank',
 'market1501_rank',
 'dukemtmc_rank',
 'msmt17_rank',
 'veri_rank',
 'vehicleid_rank',
 'veriwild_rank',
 'sop_rank']

In [13]:
def get_corr(tc):
    return out[tc].corr(method='spearman')

In [14]:
c = target_cols[1]
tc = [x for x in out.columns if c in x]
get_corr(tc)

,market1501_rank_7917,market1501_rank_79251,market1501_rank_79253,market1501_rank_79282,market1501_rank_79351,market1501_rank_79353,market1501_rank_79395,market1501_rank_79414,market1501_rank_79455
market1501_rank_7917,1.000000,0.999918,0.998958,0.998496,0.998942,0.998533,0.998667,0.998544,0.998732
market1501_rank_79251,0.999918,1.000000,0.999045,0.998493,0.998983,0.998585,0.998708,0.998600,0.998852
market1501_rank_79253,0.998958,0.999045,1.000000,0.998978,0.999288,0.998970,0.998817,0.999047,0.999356
market1501_rank_79282,0.998496,0.998493,0.998978,1.000000,0.998917,0.998423,0.998576,0.998609,0.998539
market1501_rank_79351,0.998942,0.998983,0.999288,0.998917,1.000000,0.999517,0.999164,0.999663,0.999179
market1501_rank_79353,0.998533,0.998585,0.998970,0.998423,0.999517,1.000000,0.999038,0.999527,0.998943
market1501_rank_79395,0.998667,0.998708,0.998817,0.998576,0.999164,0.999038,1.000000,0.999205,0.998782
market1501_rank_79414,0.998544,0.998600,0.999047,0.998609,0.999663,0.999527,0.999205,1.000000,0.998959
market1501_rank_79455,0.998732,0.998852,0.999356,0.998539,0.999179,0.998943,0.998782,0.998959,1.000000

In [15]:
out.columns

Index(['id', 'cplfw_rank_7917', 'market1501_rank_7917', 'dukemtmc_rank_7917',
       'msmt17_rank_7917', 'veri_rank_7917', 'vehicleid_rank_7917',
       'veriwild_rank_7917', 'sop_rank_7917', 'cplfw_rank_79251',
       'market1501_rank_79251', 'dukemtmc_rank_79251', 'msmt17_rank_79251',
       'veri_rank_79251', 'vehicleid_rank_79251', 'veriwild_rank_79251',
       'sop_rank_79251', 'cplfw_rank_79253', 'market1501_rank_79253',
       'dukemtmc_rank_79253', 'msmt17_rank_79253', 'veri_rank_79253',
       'vehicleid_rank_79253', 'veriwild_rank_79253', 'sop_rank_79253',
       'cplfw_rank_79282', 'market1501_rank_79282', 'dukemtmc_rank_79282',
       'msmt17_rank_79282', 'veri_rank_79282', 'vehicleid_rank_79282',
       'veriwild_rank_79282', 'sop_rank_79282', 'cplfw_rank_79351',
       'market1501_rank_79351', 'dukemtmc_rank_79351', 'msmt17_rank_79351',
       'veri_rank_79351', 'vehicleid_rank_79351', 'veriwild_rank_79351',
       'sop_rank_79351', 'cplfw_rank_79353', 'market1501_rank_79353',
       'dukemtmc_rank_79353', 'msmt17_rank_79353', 'veri_rank_79353',
       'vehicleid_rank_79353', 'veriwild_rank_79353', 'sop_rank_79353',
       'cplfw_rank_79395', 'market1501_rank_79395', 'dukemtmc_rank_79395',
       'msmt17_rank_79395', 'veri_rank_79395', 'vehicleid_rank_79395',
       'veriwild_rank_79395', 'sop_rank_79395', 'cplfw_rank_79414',
       'market1501_rank_79414', 'dukemtmc_rank_79414', 'msmt17_rank_79414',
       'veri_rank_79414', 'vehicleid_rank_79414', 'veriwild_rank_79414',
       'sop_rank_79414', 'cplfw_rank_79455', 'market1501_rank_79455',
       'dukemtmc_rank_79455', 'msmt17_rank_79455', 'veri_rank_79455',
       'vehicleid_rank_79455', 'veriwild_rank_79455', 'sop_rank_79455'],
      dtype='object')

In [16]:
target_cols

['cplfw_rank',
 'market1501_rank',
 'dukemtmc_rank',
 'msmt17_rank',
 'veri_rank',
 'vehicleid_rank',
 'veriwild_rank',
 'sop_rank']

In [17]:
fin_model

[0.7917,
 0.79251,
 0.79253,
 0.79282,
 0.79351,
 0.79353,
 0.79395,
 0.79414,
 0.79455]

In [18]:
for y_ in target_cols:
    if y_ == target_cols[0]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.03+\
                   out[f'{y_}_79282']*0.4+out[f'{y_}_79351']*0.1+out[f'{y_}_79353']*0.03+\
                   out[f'{y_}_79395']*0.03+out[f'{y_}_79414']*0.1+out[f'{y_}_79455']*0.1).rank().astype(int)-1
    elif y_ == target_cols[1]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.4+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.08).rank().astype(int)-1
    elif y_ == target_cols[2]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.4+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.08).rank().astype(int)-1
    elif y_ == target_cols[3]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.4+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.08).rank().astype(int)-1
    elif y_ == target_cols[4]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.08+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.4).rank().astype(int)-1
        
    elif y_ == target_cols[5]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.4+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.08+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.08).rank().astype(int)-1
    elif y_ == target_cols[6]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.08+\
                   out[f'{y_}_79395']*0.08+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.4).rank().astype(int)-1
    elif y_ == target_cols[7]:
        out[y_] = (out[f'{y_}_7917']*0.1+out[f'{y_}_79251']*0.1+out[f'{y_}_79253']*0.08+\
                   out[f'{y_}_79282']*0+out[f'{y_}_79351']*0.08+out[f'{y_}_79353']*0.4+\
                   out[f'{y_}_79395']*0.08+out[f'{y_}_79414']*0.08+out[f'{y_}_79455']*0.08).rank().astype(int)-1
    else:
        print('error')

In [19]:
# 7
# 0.79455	0.31011	0.8841	0.89642	0.96365	0.90124	0.67184	0.92352	0.80555
# 0.79353	0.29968	0.88367	0.89992	0.96528	0.89853	0.67058	0.92237	0.80825
# 0.79395	0.29616	0.88538	0.90162	0.96621	0.9011	0.67295	0.92239	0.80579
# 0.79251	0.30632	0.88203	0.89841	0.96363	0.89552	0.66735	0.92054	0.80633

In [20]:
# 0 使用 1
# 1 使用2，3，4 少量1
# 2. 使用1，2，3，4
# 3. 使用1，2，3，4
# 4. 使用 2，3 少量1，4
# 5. 使用2，3.少量1，4
# 6. 使用1，2，3，4
# 7 使用 2，4 少量1，3

In [21]:
def to_sub(test_df, test_data, name='CVPR_2022_lgb_base_log1p_grid'):
    for i in tqdm(test_df[['id']+target_cols].values):
        id_ = i[0]
        for k,v in enumerate(target_cols):
            k += 1
            test_data[id_][v] = i[k]
            
    with open(f'./sub/{name}.json', 'w') as f:
        json.dump(test_data, f)

to_sub(out, test_data, name='融合20220517_最强40_nn40_打分20')

C:\Users\45928\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

  0%|          | 0/99500 [00:00<?, ?it/s]